<ion-view title="Offers" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="offers-card22">
            <ion-item class="item-avatar  " id="offers-list-item21">
                <h2>Salon Name</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-item class="item-icon-left item-icon-right assertive  " id="offers-list-item22">
                <i class="icon No Icon"></i>More about this...
                <i class="icon ion-ios-telephone-outline"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>