<ion-view title="Salon" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="salon-card21">
            <ion-item class="item-avatar  " id="salon-list-item16">
                <h2>Name</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="salon-list-item-container1">
                <p id="salon-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
                
                <h2 id="salon-heading1" style="color:#000000;" class=" ">Available Time Slots</h2>
        
                <!-- use this space to display available time slots-->
           
            <ion-item class="item-icon-left assertive  " id="salon-list-item17">
                <i class="icon ion-ios-book"></i>Make Reservation</ion-item>
        </div>
    </ion-content>
</ion-view>