<ion-view title="Search" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="search-form11" class="list ">
            <label class="item item-input " id="search-input9">
                <span class="input-label">Service</span>
                <input type="text" placeholder="select service">
            </label>
            <label class="item item-input " id="search-input12">
                <span class="input-label">Area</span>
                <input type="text" placeholder="select area">
            </label>
            <label class="item item-input item-stacked-label " id="search-input11">
                <span class="input-label">Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 42px;"></div>
        <a ui-sref="tabsController.results" id="search-button5" class=" button button-positive  button-block icon ion-ios-search ">Search</a>
    </ion-content>
</ion-view>